<!DOCTYPE html>
<html>
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Veda Acharya Damle: Hindu priest">
    <meta name="author" content="Vedacharyadamle.com">

    <link href="~/Content/images/om.png" rel="shortcut icon">
    <title>Veda Acharya Damle</title>

    @Styles.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css", true))
    @Styles.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/FontAwesome", true))
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/modernizr", true))
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jquery", true))
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval", true))
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/bootstrap", true))

    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '119cd9e2-2606-4b8d-a844-5a81e88dbaeb'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

</head>
<body class="body-blue">
    <div id="container">
        <div id="header">
            <div class="mini-navbar mini-navbar-dark hidden-xs ">
                <div class="customheader ">
                    <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class="col-lg-9 col-sm-6 col-md-8 text-left">
                                <div class="apptitle"><img width="65px;" src="~/Content/images/om.png" />  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark navbar-static-top .navmenu-fixed-left " role="navigation">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a class="bg-hover-color" href="~/Portal/Landing" id="MenuColor">Home</a>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a class="dropdown-toggle bg-hover-color" href="#" id="MenuColor" data-toggle="dropdown">Applications<b class="caret"></b></a>
                                <ul class="dropdown-menu" id="ulApplications"></ul>
                            </li>
                            <li class="dropdown">
                                <a class="bg-hover-color" href="~/Portal/MyProfile"
                                   id="MenuColor">My Profile</a>
                            </li>
                            <li class="dropdown">
                                <a class="bg-hover-color" href="#" target="_blank" id="lnkChangePassword">Change Password</a>
                            </li>
                            <li class="dropdown" style="display:none;">
                                <a class="dropdown-toggle bg-hover-color" href="#" id="MenuColor" data-toggle="dropdown">Administration<b class="caret"></b></a>
                                <ul class="dropdown-menu" id="ulAdministration"></ul>
                            </li>
                            <li class="dropdown" style="display:block;">
                                <a class="dropdown-toggle bg-hover-color" href="#" id="MenuColor" data-toggle="dropdown">Help<b class="caret"></b></a>
                                <ul class="dropdown-menu" id="ulHelp">
                                    <li>
                                        <a class="bg-hover-color" href="..\Documents\BHIS_UserManual.pdf" target=" _blank" id="lnkUserManual">User Manual</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="bg-hover-color" onclick="return BHISAppLogout();" href="#" id="lnkBHISAppLogout">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="body">
            <div class="shadow" style="padding-top:0px"><img src="~/Images/null.png" /></div>
            <div class="wrapper">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <footer>
                <div class="row-fluid">
                    <div class="col-sm-12 footer">
                        <p class="footercolor">
                            ©Vedacharyadamle.com 2017
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("input").attr("autocomplete", "off");
    });
</script>